<footer class="bg-gradient-to-r from-black to-current">
    <div class="mx-auto w-full max-w-screen-xl">
      <div class="grid grid-cols-2 gap-8 px-4 py-6 lg:py-8 md:grid-cols-4">
        <div>
          <h2 class="mb-6 text-white font-semibold text-gray-900 uppercase">Company</h2>
          <ul class="text-white font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">About</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Careers</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Brand Center</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Blog</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-white font-semibold uppercase">Help center</h2>
          <ul class="text-white font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Discord Server</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Twitter</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Facebook</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Contact Us</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-white font-semibold text-gray-900 uppercase">Legal</h2>
          <ul class="text-white dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">Privacy Policy</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Licensing</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Terms & Conditions</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-white font-semibold text-gray-900 uppercase">Download</h2>
          <ul class="text-white dark:text-gray-400 font-medium">
            <li class="mb-4">
              <a href="#" class="hover:underline">iOS</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Android</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">Windows</a>
            </li>
            <li class="mb-4">
              <a href="#" class="hover:underline">MacOS</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="px-4 py-6 bg-gradient-to-r from-black to-current md:flex md:items-center md:justify-between">
        <span class="text-sm text-white sm:text-center">© 2023 <a href="https://flowbite.com/" class="hover:underline">Blogify™</a>. All Rights Reserved.</span>
        <div class="mt-4 flex space-x-5 sm:justify-center md:mt-0">
          <a href="#" class="text-white hover:text-white dark:hover:text-white">
            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path fill-rule="evenodd" d="M24 4.56c-.89.39-1.84.65-2.83.77a4.94 4.94 0 002.17-2.72c-.95.56-2.01.97-3.14 1.2a4.92 4.92 0 00-8.38 4.48A13.95 13.95 0 011.67 3.15a4.93 4.93 0 001.52 6.57 4.93 4.93 0 01-2.23-.61v.06a4.93 4.93 0 003.95 4.83 4.93 4.93 0 01-2.22.08 4.93 4.93 0 004.6 3.42A9.87 9.87 0 010 21.54 13.92 13.92 0 007.55 24c9.14 0 14.14-7.57 14.14-14.13 0-.21-.01-.42-.02-.63a10.12 10.12 0 002.49-2.58z" clip-rule="evenodd" />
            </svg>
          </a>
          <a href="#" class="text-white hover:text-white dark:hover:text-white">
            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path fill-rule="evenodd" d="M12 2.04c5.5 0 9.96 4.46 9.96 9.96 0 5.5-4.46 9.96-9.96 9.96-5.5 0-9.96-4.46-9.96-9.96 0-5.5 4.46-9.96 9.96-9.96zm0 1.94c-4.42 0-8.02 3.6-8.02 8.02 0 4.42 3.6 8.02 8.02 8.02 4.42 0 8.02-3.6 8.02-8.02 0-4.42-3.6-8.02-8.02-8.02zm0 3.88c1.3 0 2.36 1.06 2.36 2.36s-1.06 2.36-2.36 2.36-2.36-1.06-2.36-2.36 1.06-2.36 2.36-2.36zm0 10.82c-2.74 0-5.14-1.55-6.32-3.82.03-2.14 4.22-3.32 6.32-3.32 2.1 0 6.28 1.18 6.32 3.32-1.18 2.27-3.58 3.82-6.32 3.82z" clip-rule="evenodd" />
            </svg>
          </a>
          <a href="#" class="text-white hover:text-white dark:hover:text-white">
            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path fill-rule="evenodd" d="M12 2.04c5.5 0 9.96 4.46 9.96 9.96 0 5.5-4.46 9.96-9.96 9.96-5.5 0-9.96-4.46-9.96-9.96 0-5.5 4.46-9.96 9.96-9.96zm0 1.94c-4.42 0-8.02 3.6-8.02 8.02 0 4.42 3.6 8.02 8.02 8.02 4.42 0 8.02-3.6 8.02-8.02 0-4.42-3.6-8.02-8.02-8.02zm0 3.88c1.3 0 2.36 1.06 2.36 2.36s-1.06 2.36-2.36 2.36-2.36-1.06-2.36-2.36 1.06-2.36 2.36-2.36zm0 10.82c-2.74 0-5.14-1.55-6.32-3.82.03-2.14 4.22-3.32 6.32-3.32 2.1 0 6.28 1.18 6.32 3.32-1.18 2.27-3.58 3.82-6.32 3.82z" clip-rule="evenodd" />
            </svg>
          </a>
          <a href="#" class="text-white hover:text-white dark:hover:text-white">
            <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
              <path fill-rule="evenodd" d="M24 4.56c-.89.39-1.84.65-2.83.77a4.94 4.94 0 002.17-2.72c-.95.56-2.01.97-3.14 1.2a4.92 4.92 0 00-8.38 4.48A13.95 13.95 0 011.67 3.15a4.93 4.93 0 001.52 6.57 4.93 4.93 0 01-2.23-.61v.06a4.93 4.93 0 003.95 4.83 4.93 4.93 0 01-2.22.08 4.93 4.93 0 004.6 3.42A9.87 9.87 0 010 21.54 13.92 13.92 0 007.55 24c9.14 0 14.14-7.57 14.14-14.13 0-.21-.01-.42-.02-.63a10.12 10.12 0 002.49-2.58z" clip-rule="evenodd" />
            </svg>
          </a>
        </div>
      </div>
    </div>
  </footer>