<div class=" mt-2 grid max-w-2xl grid-cols-1 gap-x-5 gap-y-5 border-t border-gray-200 pt-10 sm:mt-16 sm:pt-16 lg:mx-1 lg:max-w-none lg:grid-cols-2">
  <% articles.forEach(article => { %>
    <article class=" flex max-w-xl flex-col items-start justify-between">
      <a href="#">
      <img class="w-full h-64 object-cover rounded-lg mb-4 hover" src="/<%= article.coverImage %>" alt="Article Cover">
    </a>
      <div class="flex items-center gap-x-4 text-xs">
        <time datetime="2020-03-16" class="text-white">Mar 16, 2020</time>
        <a href="#" class="relative z-10 rounded-full bg-gray-50 px-3 py-1.5 font-medium text-black hover:bg-gray-100">Marketing</a>
      </div>
      <div class="group relative">
        <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
          <a href="#">
            <span class="absolute inset-0"></span>
            <%= article.thumbnail  %>
          </a>
        </h3>
      </div>
    </article>
  <% }) %>
</div>
