<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    <title>Create Blog</title>
</head>
<body>
    <%- include('./partials/nav'); %>
    <%- include('./partials/script'); %>
    <div class="p-5">
    <%- include('./partials/createForm') %>
</div>
    
    
</body>
</html>
