<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head'); %>
    <title>SignUp</title>
</head>
<body >
  <form method="post" action="/backend/signup">
    <div class="mb-3">
      <label for="firstName" class="form-label">First Name</label>
      <input type="text" class="form-control" id="firstName" name="FirstName" required>
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name</label>
      <input type="text" class="form-control" id="lastName" name="LastName">
    </div>
    <div class="mb-3">
      <label for="role" class="form-label">Role</label>
      <select class="form-control" id="role" name="role" required>
        <option value="User">User</option>
        <option value="Admin">Admin</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="profile" class="form-label">Profile</label>
      <textarea class="form-control" id="profile" rows="3" name="profileUrl"></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" name="EmailId" aria-describedby="emailHelp" required>
      <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  
      <%- include('./partials/script'); %>
  </body>
</html>